/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo */
header {
  background: linear-gradient(to right, #dc3f2e, #dc602e);
  color: #ffffff;
}

h1, h2 {
  text-align: center;
  font-family: "Dekko", cursive;
}

#boton-filtros {
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px
}

#provincia {
width: 150px;
border: #dc3f2e 2px solid;
border-radius: 20px;
text-align: center;
background-color: #dc3f2e;
color: #ffffff;
font-family: "Dekko", cursive;
font-size: 15px;
cursor: pointer;
}


#especie {
width: 150px;
border: #dc3f2e 2px solid;
border-radius: 20px;
text-align: center;
background-color: #dc3f2e;
color: #ffffff;
font-family: "Dekko", cursive;
font-size: 15px;
cursor: pointer;
}

#sexo {
width: 150px;
border: #dc3f2e 2px solid;
border-radius: 20px;
text-align: center;
background-color: #dc3f2e;
color: #ffffff;
font-family: "Dekko", cursive;
font-size: 15px;
cursor: pointer;
}

#energico {
width: 150px;
border: #dc3f2e 2px solid;
border-radius: 20px;
text-align: center;
background-color: #dc3f2e;
color: #ffffff;
font-family: "Dekko", cursive;
font-size: 15px;
cursor: pointer;
}

#desparasitado {
width: 150px;
border: #dc3f2e 2px solid;
border-radius: 20px;
text-align: center;
background-color: #dc3f2e;
color: #ffffff;
font-family: "Dekko", cursive;
font-size: 15px;
cursor: pointer;
}

#esterilizado {
width: 150px;
border: #dc3f2e 2px solid;
border-radius: 20px;
text-align: center;
background-color: #dc3f2e;
color: #ffffff;
font-family: "Dekko", cursive;
font-size: 15px;
cursor: pointer;
}

#contenedorBotones {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#reset-button {
background-color: #ffffff;
color: #dc3f2e;
margin-left: 5px;
border: none;
font-family: "Dekko", cursive;
font-size: 15px;
cursor: pointer;
}

#delete-button {
  background-color: #ffffff;
  color: #3d3837;
  margin-left: 5px;
  border: none;
  font-family: "Dekko", cursive;
  font-size: 12.5px;
  cursor: pointer;
  }

#generarTarjeta {
  width: 200px;
  border: #dc602e 2px solid;
  background-color: #dc602e;
  border-radius: 20px;
  transition: all 1s;
  color: #ffffff;
  font-family: "Dekko", cursive;
  font-size: 18px;
}
#generarTarjeta:hover {
  background-color: #dc3f2e;
  border: #dc3f2e 2px solid;
  transform: scale(1.1, 1.1);
}

#contenedorTarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea las tarjetas a la izquierda */
  margin-top: 4%;
  margin-left: 2.5%;
  margin-bottom: 2%;
  margin-right: 2%;
}

.tarjeta {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.tarjeta img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.tarjeta img:hover {
  opacity: 0.5;
}

.tarjeta div {
display: flex;
justify-content: space-around;
align-content: center;
font-family: "Dekko", cursive;
}

.tarjeta .botones {
flex-direction: column;
padding: 0;

}f

.tarjeta .botones button {
margin: 10px; /* Espacio entre los botones */
font-family: "Dekko", cursive;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Dekko", cursive;
}

.modal-content {
  background-color: #fefefe;
  margin: 9.5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.modal-nombre, .modal-edad, .modal-provincia, .modal-especie, .modal-sexo {
  font-family: "Dekko", cursive; 
  font-size: 15px;
  width: 300px;
  margin: 10px auto;
}

#modalCheckboxes {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}

#modalEnergico, #modalDesparasitado, #modalEsterilizado {
  display: flex;
  align-items: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.swal2-popup.swal2-contenedor {
  border-radius: 30px;
  width: 360px;
}

.swal2-popup .contenido {
  text-align: center;
  font-family: "Dekko", cursive; 
  padding: 1px;
  font-size: 20px;
}

.swal2-popup .btnConfirmar {
  text-align: center;
  font-family: "Dekko", cursive; 
  border-radius: 30px;
  width: 100px;
  padding: 1px;
}

.swal2-popup .btnCancelar {
  text-align: center;
  font-family: "Dekko", cursive; 
  border-radius: 30px;
  width: 100px;
  padding: 1px;
  margin: auto 5px;
  align-items: center;
}

.swal2-actions {
  margin: 10px auto;
}